html{
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    text-align: center;
    scroll-behavior: smooth;
}
.container {
    width: 60vw;
    margin: 50px auto;
    background: var(--foreground-color);
    padding: 20px;
    box-shadow: 0px 0px 10px var(--boxshadow);
    border-radius: 8px;
}
h1 {
    color: var(--primary-color);
}
h2 {
    color: var(--primary-color);
    margin-bottom: 10px;
}
p {
    text-align: justify;
    line-height: 1.6;
}
.album {
    margin: 20px 0;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}
.album:last-child {
    border-bottom: none;
}
img {
    width: 200px;
    border-radius: 8px;
    margin-top: 10px;
    box-shadow: 0 0 10px var(--boxshadow);
    transition: .5s all ease;
}
.youtube, .spotify{
    display: inline-block;
    margin-top: 10px;
    color: var(--background-color);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--primary-color);
    padding: 10px 25px 10px 25px;
    margin: 10px;
    width: 10vw;
    border-radius: 16px;
    transition: .5s all ease;
}

img:hover, a:hover{
    transform: scale(1.05);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.container{
    animation: fadeIn 1s ease-in-out;
}

#watermark
{
    position: fixed;
    top: 0px;
    right: 20px;
}

.youtube{
    background-color: #FF0033;
}

.logo{
    height: 4vh;
    width: auto;
    margin: 0;
    margin-right: 10px;
    padding: 0;
}

.button-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    background-color: var(--foreground-color);
    padding: 10px;
    box-shadow: 0px 0px 10px var(--boxshadow);
    border-radius: 8px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: .3s;
}

.headbtn{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding: 10px 25px 10px 25px;
    margin: 10px;
    width: 10vw;
    border-radius: 16px;
    transition: .5s all ease;
}

.headbtn:hover{
    background-color: var(--primary-color);
    color: var(--background-color);
}

footer {
    background-color: var(--foreground-color);
    padding: 15px;
    box-shadow: 0px 0px 10px var(--boxshadow);
    border-radius: 8px;
    margin-top: 20px;
    text-align: center;
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

spam{
    text-transform: uppercase;
    text-decoration: underline;
    font-family: sans-serif;
    font-weight: bold;
}

.head-title{
    margin: 2vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-h1{
    color: var(--text-color);
    font-size: 35px;
    margin: 10px;
}

.note{
    width: 35px;
    margin: 0;
}

i{
    user-select: text;
}